# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*.sqlite3
media

### Jetbrains ###
.idea

# End of https://www.gitignore.io/api/django

node_modules/
bundles/
webpack-stats.json

coverage/
htmlcov/

### macOS ###
.DS_Store
