{% load static %}
{% load render_bundle from webpack_loader %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/interlecture/base.css' %}">

    <style>
        html, body, body>#main {
          padding: 0;
          margin: 0;
          width: 100%;
          height: 100%;
        }
    </style>

  </head>

  <body>
    <script>
      window.django2react={{ args|safe }};
      window.django2react.csrfToken="{{ csrf_token }}";

      {% if messages and request.user %}
        window.django2react.justLoggedIn=true;
        window.django2react.username="{{ request.user.username }}";
        {% for message in messages %}
          {# This is simply to clear the message after displaying it once #}
        {% endfor %}
      {% endif %}

      {% comment %}
      {% if app_name == 'app' %}
        window.django2react.classroom = {{ room }};
      {% endif %}
      {% endcomment %}
    </script>
    <div id=main> </div>
    {% render_bundle app_name %}
  </body>
</html>
