{% load static %}
{% load render_bundle from webpack_loader %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/interlecture/base.css' %}">
  
    <style>
        html, body, body>#main {
          padding: 0;
          margin: 0;
          width: 100%;
          height: 100%;
        }
    </style>
  
  </head>
  
  <body>
    <script>
      window.django2react={{ args|safe }};
      window.django2react.csrfToken="{{ csrf_token }}";
    </script>
    <div id=main> </div>
    {% render_bundle app_name %}
  </body>
</html>
