:root {
    --light-gray: #61626F;
    --dark-gray: #2C2D37;
    --light-grey: var(--light-gray);
    --dark-grey: var(--dark-gray);
    --light-blue: #53A2BE;
    --dark-blue: #0A2239;
    --orange: #EC7D10;
}
/*
#main {
    background: white url("../../images/background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.panel {
    box-shadow: 0 0 15px 1px var(--dark-gray);
    border: none;
    border-radius: 0;
}

.panel-body {
    margin-bottom: -15px;
}

.message-panel {
    background-color: var(--light-blue);
    color: white;
    width: 300px;
}

.btn-primary {
    background-color: var(--orange);
    border: none;
}

.btn-link {
    color: var(--light-blue);
}

.form-control {
    width: 250px;
}

.btn {
    width: 100px;
    margin: 0 12.5px;
}

.btn.single {
    width: 250px;
    margin: 0 auto;
}
